// Import your components CSS files here.
@import "alert";
@import "navbar";


.card {
  height:200px;
  background-color: grey;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.7;
  & :hover {
    opacity:1;
  }
}

.aie {
  padding-right: 30px;
  text-decoration:none;
}

.image {
  background-image: cover;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  padding-left: 150px;
  height:100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}



.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
}

.navbar-lewagon .brand {
  width: 40px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #999999;
}
.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: #151515;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

